// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.binderDimensions{
    --gap: 1.5rem;
    --columns: 3;
    flex-basis: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
}

.binderImage{
    width: 250px;
    height: 350px;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
}

.binderImage:hover{
    transform: scale(1.3);
}

.binderImage > img{
    object-fit: cover;
}

.txtDecorationNone{
    text-decoration: none;
}

.addButton{
    font-size: 100px;
    color: rgb(0, 0, 0, 0.8);
    transition: transform 0.2s ease-in-out;
}

.addBinder{
    border-radius: 20px;
    border: 2px solid black;
    width: 250px;
    height: 350px;
    transition: transform 0.2s ease-in-out;
    background-color: white;
}

.addBinder:hover{
    transform: scale(1.3);
}

.addBinder:hover .addButton{
    transform: scale(1.3);
    color: rgb(0, 0, 0, 1);
}